<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>index</title>
  </head>
  <body>
    <h1><img style="display: block; margin-left: auto; margin-right: auto;" src="https://www.aitechnologytrends.com/assets/img/logo@2x.png" alt="" width="121" height="122" /></h1>
    <h1 style="text-align: center;"><em>Computer Science</em></h1>
    <h3 style="text-align: center;"><em>King Mongkut's Institute of Technology Ladkrabang</em></h3>
    <p style="text-align: center;">&nbsp;</p>

    <h4 style="text-align: center;">Speech Emotion Recognition (SER)</h4>
    <p style="text-align: center;"><a href=SER ><input name="btnSubmit" type="submit" value="Press to talk"/></a>
      &nbsp;&nbsp;&nbsp;&nbsp;<a href=/ ><input name="btnSubmit" type="submit" value="Clear" /></p></a>
    <h2 style="text-align: center;"><span style="color: #0000ff;">{{result}}</span></h2>

    <p style="text-align: center;"><em><span style="color: #ff0000;">กดปุ่ม "Press to talk" เพื่อเปิดให้ตัวแอพรับเสียงที่ต้องการจะทดสอบ</span></em></p>
    <p style="text-align: center;"><em><span style="color: #ff0000;">หลังจากกดปุ่ม ตัวแอพจะทำการบันทึกเสียงที่เกิดขึ้น และจะหยุดบันทึกเมื่อเสียงที่เกิดขึ้นทั้งหมดเงียบ</span></em></p>
    
    <br>
    <h3 style="text-align: center;">จัดทำโดย</h3>
    <table style="border-collapse: collapse; width: 100%;" border="0">
      <tbody>
        <tr>
          <td style="width: 36.9614%;">&nbsp;</td>
          <td style="width: 28.7052%;">
            <ul style="list-style-type: disc;">
              <li>นาย จิรพนธ์&nbsp;&nbsp;&nbsp; เจิมเครือ&nbsp;&nbsp;&nbsp; รหัสนักศึกษา&nbsp; 61050150</li>
              <li>นาย ชัยเวท&nbsp;&nbsp;&nbsp; หมุ่ยโท&nbsp;&nbsp;&nbsp; รหัสนักศึกษา&nbsp; 61050165</li>
              <li>นางสาว ดุษฎี&nbsp;&nbsp;&nbsp; นันเขียว&nbsp;&nbsp;&nbsp; รหัสนักศึกษา&nbsp; 61050186</li>
              <li>นาย ธนธรณ์&nbsp;&nbsp;&nbsp; สงสยม&nbsp;&nbsp;&nbsp; รหัสนักศึกษา&nbsp; 61050190</li>
              <li>นาย ธนพล&nbsp;&nbsp;&nbsp; กฤตินัดดากุล&nbsp;&nbsp;&nbsp; รหัสนักศึกษา&nbsp; 61050192</li>
              <li>นาย ธนพล&nbsp;&nbsp;&nbsp; ฉิมนาม&nbsp;&nbsp;&nbsp; รหัสนักศึกษา&nbsp; 61050193</li>
              <li>นาย ธนินทร์&nbsp;&nbsp;&nbsp; ผลึกเพชร&nbsp;&nbsp;&nbsp; รหัสนักศึกษา&nbsp; 61050203</li>
            </ul>
          </td>
          <td style="width: 33.3333%;">&nbsp;</td>
        </tr>
      </tbody>
    </table>

    <h3 style="text-align: center;">เสนอ</h3>
    <p style="text-align: center;">ผศ.ดร.อนันตพร หรรษคุณาฒัย</p>

  </body>
</html>